.home {
    margin-top: 2vh;
}

.home-header {
    border-bottom: 1px solid rgb(48, 48, 48);
    padding-bottom: 2vh;
}

.home-head {
    margin-left: 2vw;
    font-weight: bold;
    font-size: 1.2rem;
}

.home-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.home-logo {
    height: 50px;
    text-align: center;
}

@media (max-width: 500px) {
    .home-head {
        display: none;
    }

    .home-icon {
        display: flex;
    }

    .home-header {
        padding-bottom: 5px;
        position: sticky;
        top: 0;
        border-bottom: 1px solid rgb(28, 28, 28);
    }

    .home {
        margin: 0;
    }
}