.sidebar-body {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}

.logo {
    height: 50px;
    margin-left: 4px;
}

.sidenav-items a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 1.5vh 0;
    font-weight: bold;
    width: fit-content;
    padding: 7px 25px 7px 10px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

.sidenav-items a:hover {
    background-color: #212121;
    color: #1DA1F2;
}

.sidenav-text {
    margin-left: 10px;
    font-size: 1.2rem;
}

.sidenav-desc {
    position: absolute;
    transform: translateY(45px) translateX(-5px);
    color: white;
    background-color: rgba(20, 50, 80, 0.9);
    padding: 5px;
    display: none;
    font-size: 12px;
}

.post-a {
    text-decoration: none;
    color: white;
}

.post-button {
    background-color: #1DA1F2;
    width: 70%;
    text-align: center;
    padding: 12px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2vh;
}

.post-button:hover {
    background-color: #1A91DA;
}

.post-icon {
    display: none;
}

@media (max-width: 1200px) {
    .sidenav-text {
        display: none;
    }

    .sidenav-items a {
        padding: 7px 10px;
    }

    .sidebar-body {
        padding-right: 10px;
    }

    .sidenav-items a:hover .sidenav-desc {
        display: block;
    }

    .post-button {
        padding: 7px;
        border-radius: 50%;
        /* display: flex;
        justify-content: center; */
    }

    .post-icon {
        /* aspect-ratio: 1/1; */
        display: block;
    }

    .post-text {
        display: none;
    }
}

@media (max-width: 500px) {
    .sidebar {
        height: fit-content;
    }

    .sidenav {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: auto;
        justify-content: space-between;
    }

    .sidenav-items a {
        margin: .5vh 0;
    }

    .logo {
        display: none;
    }

    .post-button {
        position: absolute;
        bottom: 10vh;
        right: 2.5vw;
        padding: 10px;
        aspect-ratio: 1/1;
        width: fit-content;
    }
}